.srw-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;

	$gradWidth: 12%;

	$top_grad: linear-gradient(
		to bottom,
		rgba(0, 192, 255, 0.05) 0%,
		rgba(0, 192, 255, 0.05) (100%/2 - $gradWidth/2),
		rgba(0, 192, 255, 1) (100%/2 - $gradWidth/2),
		rgba(0, 192, 255, 1) (100%/2 + $gradWidth/2),
		rgba(0, 192, 255, 0.05) (100%/2 + $gradWidth/2),
		rgba(0, 192, 255, 0.05) 100%
	) !important;

	$left_grad: linear-gradient(
		to right,
		rgba(0, 192, 255, 0.05) 0%,
		rgba(0, 192, 255, 0.05) (100%/2 - $gradWidth/2),
		rgba(0, 192, 255, 1) (100%/2 - $gradWidth/2),
		rgba(0, 192, 255, 1) (100%/2 + $gradWidth/2),
		rgba(0, 192, 255, 0.05) (100%/2 + $gradWidth/2),
		rgba(0, 192, 255, 0.05) 100%
	) !important;

	&__top {
		position: absolute;
		top: -$threshold/2;
		width: 100%;
		height: $threshold;
		background: $top_grad;
	}

	&__bottom {
		position: absolute;
		height: $threshold;
		bottom: -$threshold/2;
		width: 100%;
		background: $top_grad;
	}

	&__left {
		position: absolute;
		width: $threshold;
		height: 100%;
		left: -$threshold/2;
		background: $left_grad;
	}

	&__right {
		position: absolute;
		width: $threshold;
		height: 100%;
		right: -$threshold/2;
		background: $left_grad;
	}
}
