.srw-drop-zone {
	transition: opacity 0.2s;
	pointer-events: all;
	min-width: $threshold;
	min-height: $threshold;
	background: rgba(mediumpurple, 0);
	position: relative;

	@keyframes srw_drop_zone_pulsate {
		0% {
			background: mediumpurple;
		}

		100% {
			background: rgba(mediumpurple, 0);
		}
	}

	&--hint {
		animation-name: srw_drop_zone_pulsate;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
	}

	&--active {
		opacity: 1;
		background: rgb(0, 192, 255);
	}

	&__floating {
		position: absolute;
		opacity: 0;
		z-index: 2;
	}

	&--floating-vertical {
		height: 100%;
		width: 20px;
		transform: translateX(-50%);
		margin-left: $threshold / 2;
		background: linear-gradient(
			90deg,
			rgba(0, 192, 255, 0.2) 0%,
			rgba(0, 192, 255, 1) 50%,
			rgba(0, 192, 255, 0.2) 100%
		);
	}

	&--floating-horizontal {
		width: 100%;
		height: 20px;
		transform: translateY(-50%);
		margin-top: $threshold / 2;
		background: linear-gradient(
			180deg,
			rgba(0, 192, 255, 0.2) 0%,
			rgba(0, 192, 255, 1) 50%,
			rgba(0, 192, 255, 0.2) 100%
		);
	}

	&--floating-active {
		transition: opacity 0.5s;
		opacity: 0.5;
	}
}
