.srw-tab {
	position: relative;
	transition: padding-left 0.5s, padding-right 0.5s;
	$shift: 100px;

	&__dropzone {
		top: 0;
		width: 50%;
		height: 100%;
		position: absolute;
	}

	&--shift-left {
		padding-left: $shift;
	}

	&--shift-right {
		padding-right: $shift;
	}

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
	}
}
